/*
orange: #CC6600
black:#202020
grey: #666666
fonts: Georgia,"Times New Roman",Times,serif and Arial,"MS Trebuchet",sans-serif 
headline font size: 18px
article text size: 14px
photo cutline size: 12px
page gradient: vertical from #CCCCCC at the top to #FFFFFF at the bottom
*/

html {
	height: 100%;
}

body {
	background-color: #fcfcfc;
	background-image: -moz-linear-gradient(top, #ccc, #fff);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ccc), to(#fff));
	font-family: Georgia,"Times New Roman", Times, serif;
	padding: 0 15px 0 15px;
	margin: 0;
	height: 100%;
}

a:link, a:active, a:visited {
	color: #cc6600;
}

ul#breadcrumbs {
	font-family: Arial;
	font-size: 14px;
	margin: 0;
	padding: 15px 0 0 0;
}

ul#breadcrumbs li {
	display: inline-block;
	margin: 0;
	padding: 0;
}

ul#breadcrumbs li a {
	padding: 0 5px;
}

#article {
}

#articleContent p {
	font-family: Arial;
	font-size: 14px;
}

#articleContent p.larger {
	font-size: 18px;
}

#articleSidebar {
	width: 175px;
	float: left;
}

#articleSidebar .caption {
	color: gray;
	display: block;
	font-size: 11px;
	font-family: Arial;
	text-align: right;
	line-height: 14px;
	margin-right: 5px;
}

.enlarge {
	background: url(../images/sprites.gif) no-repeat 0 -390px;
	font-size: 11px;
	font-family: Arial;
	color: #CC6600;
	padding: 0 0 0 20px;
}

.photoBlurb {
	font-family: Arial;
	font-size: 12px;
	margin: 5px 0;
}

#articleTitle {
	font-weight: normal;	
}

#articleMain {
	width: 450px;
	float: left;
	margin-left: 10px;
}

#articleSub {
	font-family: Arial;
}

.articleAuth {
	font-size: 14px;
	font-weight: normal;
	margin: 5px 0 10px;
}

.articleAuthName {
	color: #CC6600;
	font-weight: bold;
}

.articleAuthSub {
	font-size: 11px;
	display: block;
	text-transform: uppercase;
}

.articleDate {
	font-size: 12px;
}

#articleTools {
	margin: 10px 0 0;
	padding: 5px 0 0;
	border-top: 1px dotted #000;
}

#articleTools li {
	list-style: none;
	display: inline;
}

#articleTools li a {
	background: url(../images/sprites.gif) no-repeat;
	color: #000;
	font-size: 11px;
	padding: 2px 10px 2px 17px;
	margin: 2px;
	text-decoration: none;
	border-right: 1px solid #000;
}

#articleTools #postComment {
	background-position: 0 -478px;
}

#articleTools #email {
	background-position: 0 -253px;
}

#articleTools #print {
	background-position: 0 -299px;
}

#articleTools #share {
	background-position: 0 -344px;
}

#articleTools #largerType {
	background-position: 0 -389px;
}

#articleTools #largerType.toggled {
	background-position: 0 -434px;
}

#articleTools {}

.articleDate {
	display: block;
}